/*Fonts*/
@font-face {
    font-family: Draconis;
    src: url("../fonts/Draconis.otf");
}

@font-face {
    font-family: MrsEaves;
    src: url("../fonts/MrsEavesSmallCaps.otf");
}

@font-face {
    font-family: Bookman;
    src: url("../fonts/Bookman.otf");
}

/*universal page stuff*/
body {
    padding-bottom: 5vw;
}

h1.home-button {
    font-family: Draconis;
    text-align: left;
    margin: auto;
    font-size: clamp(30px, 2.5vw, 100px);
    padding-left: 2vw;
}

.page-title {
    font-family: Draconis;
    text-align: left;
    font-size: clamp(50px, 4.3vw, 300px);
    padding: 0vw 0px 0px 10vw;
    margin: 3vw 0px 0.2vw 0px;
}

h2.class-origin {
    font-family: Draconis;
    font-size: clamp(25px, 2.3vw, 70px);
    font-style: italic;
    margin: auto auto -3vw auto;
    padding: 2vw 0px 0px 10vw;
}

p.credits {
    font-family: Bookman;
    font-style: italic;
    text-align: left;
    font-size: clamp(15px, 1.1vw, 30px);
    padding: 0px 10vw 1.5vw 10vw;
    margin: auto;
}

p.fluff {
    font-family: Bookman;
    font-size: clamp(15px, 1.1vw, 30px);
    margin: auto;
    padding: 0px 10vw 0px 10vw;
    text-align: left;
}

.return {
    font-family: Draconis;
    font-style: italic;
    text-align: left;
    font-size: clamp(20px, 1.5vw, 80px);
    padding-left: 2vw;
    padding-top: 0.4vw;
    margin: auto;
}

/*Links*/
a.hide-link {
    color: black;
    text-decoration: none;
}

a {
    text-decoration: none;
}

#false-link {
    text-decoration-line: line-through;
    color: gray;
}

/*Class Table*/
table.class_table {
    padding: 1vw 10vw 3vw 10vw;
    width: 100%;
    margin: auto;
    text-align: center;
}

table.class_table p {
    font-family: Bookman;
    font-size: clamp(10px, 1vw, 100px);
    font-weight: normal;
    border-bottom: 1px dotted black;
    margin: auto;
    padding: 0.1vw 0px 0.1vw 0px;
}

table.class_table #features {
    font-family: Bookman;
    font-size: clamp(10px, 1vw, 100px);
    font-weight: normal;
    text-align: left;
    border-bottom: 1px dotted black;
    margin: auto;
    padding: 0.1vw 0px 0.1vw 0px;
}

table.class_table #header {
    font-family: Bookman;
    font-size: clamp(12px, 1.1vw, 100px);
    font-weight: bold;
    border-bottom: 3px groove black;
    margin: auto;
    padding: 0.1vw 0px 0.1vw 0px;
}

/*Propperties*/
div.propperty {
    padding-left: 10vw;
    padding-right: 10vw;
    text-align: left;
}

div.propperty h2 {
    font-family: Draconis;
    font-size: clamp(35px, 3vw, 100px);
    margin-bottom: clamp(-15px, -1vw, -5px);
}

div.propperty p {
    font-family: Bookman;
    font-size: clamp(15px, 1.1vw, 30px);
    margin-bottom: clamp(-15px, -0.9vw, -8px);
}

div.items {
    padding: 1vw 0px 0px 1vw;
}

/*Features*/
div.feature {
    padding: 0px 10vw 0.001vw 10vw;
    text-align: left;
    margin: auto;
}

div.feature h2 {
    font-family: Draconis;
    font-size: clamp(30px, 2.1vw, 45px);
    margin-bottom: clamp(-10px, -0.8vw, -5px);
}

div.feature p {
    font-family: Bookman;
    font-size: clamp(15px, 1vw, 30px);
}

div.feature #subheader {
    font-family: Bookman;
    font-size: clamp(17px, 1.1vw, 35px);
    margin: 1.5vw 0px clamp(-15px, -0.6vw, -10px) 0px;
}

div.feature #saveDC {
    padding-left: 3vw;
}

div.feature #indent {
    padding-left: 3vw;
}

table.feature {
    margin: 0.5vw 0px 0.5vw 0px;
    text-align: center;
}

table.feature p {
    font-weight: normal;
    border-bottom: 1px dotted black;
    margin: auto;
    padding: 0.1vw 0.3vw 0.1vw 0px;
}

table.feature #header {
    font-weight: bold;
    border-bottom: 3px groove black;
}

/*Subclasses*/
table.subclasses {
    text-align: left;
}

table.subclasses th {
    padding-right: 1vw;
}

table.subclasses p {
    font-family: Draconis;
    font-size: clamp(17px, 1.7vw, 40px);
    margin: 0px 2vw 0px 0vw;
    min-width: 140px;
    margin: auto;
    padding: 0.1vw 0px 0.1vw 0px;
}

table.subclass_spells {
    width: 100%;
    margin: 1vw auto auto auto;
    text-align: center;
}

table.subclass_spells p {
    font-family: Bookman;
    font-size: clamp(10px, 1vw, 100px);
    font-weight: normal;
    border-bottom: 1px dotted black;
    margin: auto;
    padding: 0.1vw 0px 0.1vw 0px;
}

table.subclass_spells #header {
    font-family: Bookman;
    font-size: clamp(12px, 1.1vw, 100px);
    font-weight: bold;
    border-bottom: 3px groove black;
    margin: auto;
    padding: 0.1vw 0px 0.1vw 0px;
}

/*Roster*/
div.roster {
    padding: 0px 10vw 0.5vw 10vw;
    text-align: left;
    margin: auto;
}

div.roster table {
    width: 100%;
    margin: auto;
}

div.roster h1 {
    font-family: Draconis;
    font-size: clamp(35px, 3vw, 100px);
    margin: 1vw 0px 0.5vw 0px;
}

div.roster h2 {
    font-family: Draconis;
    font-size: clamp(30px, 2.1vw, 45px);
    margin: 0px 0px 0px 0px;
}

div.roster th {
    padding: 0px 1.4vw 0px 0px;
    vertical-align: text-top;
}

div.roster p {
    font-family: Bookman;
    font-size: clamp(15px, 1vw, 30px);
    font-weight: normal;
    margin: 0.5vw 0px 1vw 0px;
}